.box{
    border: 2px solid black;
    background-color: rgb(228, 188, 228);
    padding: 23px;
}
#holder
{
        display: grid;
        grid-template-columns: repeat(2, 2fr);
        grid-template-rows: repeat(2, 2fr);
        grid-gap: 1rem;
}

/* Your CSS Code here. */