.box{
    border: 2px solid black;
    background-color: rgb(228, 188, 228);
    padding: 23px;
}
#holder
{
    display:grid;
    grid-template-columns: repeat(2,200px);
    grid-template-rows: repeat(2,200px);
}

/* Your CSS Code here. */